body {
    display: flex;
    flex-direction: row;
    background: #ccffcc;
    text-align: center;
    padding: 0 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 1200px;
}

aside {
    /*flex-direction: row;*/
    flex-grow: 1;
    margin: 10px 30px 10px 10px;
}

#main, #chats {
    /*flex-direction: row;*/
    flex-grow: 2;
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: 1px solid grey;
    border-width: 0 1px 1px 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

#main h2 {
    padding: 5px;
}
#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#message-container .message-content {
    background-color: #9bd6f4;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.user {
    font-size: 16px;
}

.message-content p {
    font-size: 12px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: #ccffcc;
    border-radius: 3px;
}

.bold {
    font-weight: bold;
}








